@media (max-width: 1400px) {
  .headline_site {
    width: 546px;
    padding: 0 40px;
    text-align: center;
  }
  form .email_field {
    width: 418px;
    margin-right: 20px;
  }
  .icon-item {
    width: 342px;
    margin: 0 10px;
    padding: 0 12px;
  }
}
@media (max-width: 1200px) {
  .bootstrap_and_sign {
    justify-content: space-between;
    margin: 0 40px;
  }
  .header .headline_site {
    width: 930px;
    padding: 0;
    text-align: center;
  }
  form .email_field {
    width: 810px;
    margin-right: 20px;
  }
  .top_section {
    padding: 123px 0;
  }
  .icon-item {
    width: 320px;
    margin: 0 10px;
    padding: 0 12px;
  }
}
@media (max-width: 990px) {
  .bootstrap_and_sign {
    margin: 0 100px;
  }
  .header .content {
    margin-bottom: 100px;
  }
  .header .headline_site {
    width: 700px;
    padding: 0;
    text-align: center;
  }
  form .email_field {
    width: 570px;
    margin-right: 20px;
  }
  .icons-items {
    justify-content: center;
    flex-direction: column;
  }
  .icon-item {
    margin: 20px 50px;
  }
  .icon-item h3 {
    font-size: 1.5rem;
  }
  .description_content {
    flex-direction: column-reverse !important;
  }

  .flex-reverse .description_content {
    flex-direction: column-reverse !important;
  }

  .description_content {
    flex-direction: column-reverse;
  }
  .poeples_opinion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
  }
  .people_speech {
    text-align: center;
    align-items: center;
  }
  .foot_row {
    flex-direction: column;
  }
  .foot_nav_text {
    text-align: center;
  }
}
@media (max-width: 750px) {
  .header {
    width: 100%;
    height: 445px;
    padding-top: 110px;
  }
  .header .headline_site {
    width: 515px;
  }
  .headline_site h1 {
    font-size: 1.85rem;
  }
  .call_content h2 {
    font-size: 1.5rem;
  }
  form .email_field {
    width: 390px;
    margin-right: 20px;
  }
  .icon-item h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 600px) {
  .bootstrap_and_sign {
    margin: 0 20px;
  }
  .icon-item h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  form {
    justify-content: center;
    flex-direction: column;
    margin: 10px;
  }
  form .email_field {
    margin-bottom: 15px;
  }
  .description-wrapper {
    padding: 25px;
  }
  .foot_content {
    margin: 0 10px;
  }
}
@media (max-width: 410px) {
  form .email_field {
    width: 300px;
  }
  .foot_content {
    text-align: center;
    font-size: 0.85rem;
    margin: 0 3px;
  }
}
